%h2 Terms of Service
%p Stubbly is a free service provided without warranty of any kind.
%p Stubbly may not be used in unsolicited advertising (spam) or to link to any content which is illegal. Stubbles found to be in violation of this policy may be deleted at any time.
%p We reserve the right to delete, at our sole discretion, any shortened URLs at any time and without prior warning. We reserve the right to discontinue this service at any time and without prior warning.

%h2 Privacy Policy
%p This application stores all user-submitted URLs. These URLs are considered inherently public, and as such, are viewable by anyone.
%p We may also store the IP addresses of computers accessing this site solely for the purposes of preventing abuse as well as observing and analyzing anonymous usage trends. We will not share this information with third parties.
  