- unless @stubble.new_record?
  %dl
    %dt Stubble
    %dd= link_to h("http://stubbly.local/#{@stubble.slug}"), @stubble.slug
    
    %dt Original URL
    %dd= link_to h(@stubble.url), @stubble.url
    
    %dt Stubbliness
    %dd= '%.0f%% shorter' % @stubble.stubbliness
