%h2 Terms of Service
%p Stubbly is a free service provided without any service level guarantee and without warranty of any kind.
%p Stubbly may not be used in any form of unsolicited advertising (spam) or to link to any content which is illegal in your area.
%p We reserve the right to delete, at any time and without prior warning, any URL aliases that we determine to be in violation of our policy.

%h2 Privacy Policy
%p All URLs stored in this site are inherently public, and they may be accessed by anyone at any time.
%p The IP addresses of computers accessing this site may also be stored for the purposes of preventing abuse and analyzing usage trends. This information will not be shared with third parties.
 